{% extends './_layout.html' %}

{% block content %}
    <div class="card mb-5">
        <div class="card-body">
            <h1>Welcome admin</h1>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2>Boards</h2>
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>description</th>
                        <th>created_at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for board in boards %}
                    <tr>
                        <td><a href="/admin/boards/{{ board.id }}">{{ board.id }}</a></td>
                        <td>{{ board.title }}</td>
                        <td>{{ board.description }}</td>
                        <td>{{ board.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2>Threads</h2>
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>description</th>
                    <th>created_at</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for thread in threads %}
                    <tr>
                        <td><a href="#">{{ thread.id }}</a></td>
                        <td>{{ thread.title }}</td>
                        <td>{{ thread.description }}</td>
                        <td>{{ thread.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h2>Posts</h2>
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>id</th>
                        <th>board_id</th>
                        <th>thread_id</th>
                        <th>created_at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thread in threads %}
                        <tr>
                            <td>{{ thread.id }}</td>
                            <td>{{ thread.board_id }}</td>
                            <td>{{ thread.thread_id }}</td>
                            <td>{{ thread.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}