dialog {
	position: fixed;
	top: 5rem;
	text-align: center;
	border-radius: 1rem;
	padding: 5rem;

	.close {
		position: absolute;
		top: 2rem;
		right: 2rem;

		padding: 0.4rem 0.8rem;
		border: 1px solid #333;
		cursor: pointer;
	}

	.dialog-title {
		font-size: 1.6rem;
		margin-top: 2rem;
	}
}