<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/app.css">
		<title>{{ head_title }}</title>
		{% block css %}
		{% endblock %}
	</head>
	<body>
		<header>
			{% set color =  ['#f00', '#0f0', '#0ff', '#ff0', '#F0F'] | random %}
			<div class="logo-space">
				<a href="/" style="font-size: 2rem; color: {{ color }}">HOME</a>
			</div>
			<nav>
				<ul>
					<li><a href="/search">Search</a></li>
					<li><a href="/boards">Boards</a></li>
					<li><a href="/threads">Threads</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/rules">Rules</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			<div class="col">
				<ul>
					<li><a href="/search">Search</a></li>
					<li><a href="/boards">Boards</a></li>
					<li><a href="/threads">Threads</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/rules">Rules</a></li>
				</ul>
			</div>
			<div class="col">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at aut commodi dolor eius eligendi enim eveniet fuga ipsam natus nobis odio perferendis quae qui, quia rem, repellendus sed totam.
			</div>
			<div class="col">
				Support
			</div>
			{% block js %}
			{% endblock %}
		</footer>
		<div id="backdrop"></div>
	</body>
</html>