<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/app.css">
		<title>Document</title>
	</head>
	<body>
		<header>
			{% set color =  ['#f00', '#0f0', '#0ff', '#ff0', '#F0F'] | random %}
			<div class="logo-space">
				<a href="/" style="font-size: 2rem; color: {{ color }}">HOME</a>
			</div>
			<nav>
				<ul>
					<li><a href="/boards">Boards</a></li>
					<li><a href="/threads">Threads</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam autem libero sit, quasi enim. Nulla obcaecati, magnam, quas, delectus officia eum iusto, eveniet vitae velit nostrum dolorem neque? Obcaecati, ipsam?
		</footer>
	</body>
</html>