{% extends './_layout.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <h1>Ads</h1>
                <p>
                    If you want to post your ads here:
                    <ul>
                        <li>Contact us on qTox (<a href="https://tox.chat/download.html">download here</a>)</li>
                        <li>Send us your banner size 1344x100px </li>
                        <li>svg extension</li>
                        <li>Get some cryptocurrencies (<a href="/support">in support</a>)</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}