{% extends './_layout.html' %}

{% block css %}
    <style>
        #address {
            margin: 2rem;
        }
        #qrcode {
            margin: 2rem;
        }
        #qrcode img {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <h1>Contact</h1>
                <h2>qTox</h2>
                <a href="https://tox.chat/download.html" class="button" target="_blank">download here</a>
                <div id="address">{{ qtox }}</div>
                <div id="qrcode"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js"></script>
    <script>
        new QRCode(document.getElementById("qrcode"), "{{ qtox }}");
    </script>
{% endblock %}