<h1>Welcome Anonymous</h1>

<section>
    <h2>Boards</h2>
    <div>
        <a href="/boards/create">Create Board</a>
    </div>
    <div>
        {% for board in boards %}
        <div style="background: #fee; margin: 1rem;">
            <div>
                <a href="/boards/{{ board.slug }}">{{ board.title }}</a>
            </div>
            <div>
                {{ board.description }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="/boards">More boards</a>
    </div>
</section>

<section>
    <h2>Threads</h2>
    <table>
    {% for thread in threads %}
    <div style="background: #00ffff; margin: 1rem;">
        <div>
            <a href="/board/{{ board.slug }}">{{ thread.title }}</a>
        </div>
    </div>
    {% endfor %}
    </table>
    <div>
        <a href="/threads">More threads</a>
    </div>
</section>



