{% extends './_layout.html' %}

{% block content %}
    <div class="container">
        <section>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2>Boards</h2>
                        <div>
                            <a href="/boards/create" class="button">Create Board</a>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for board in boards %}
                            <tr>
                                <td>
                                    <a href="/boards/{{ board.slug }}">{{ board.title }}</a>
                                </td>
                                <td>
                                   <a href="/boards/{{ board.slug }}">{{ board.description }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="/boards">More boards</a>
                    </div>
                    {% if true %}
                        <picture class="ad" >
                            <source srcset="/images/misc/ad-demo.svg" media="(min-width: 768px)">
                            <img src="/images/misc/ad-demo.svg" alt="">
                        </picture>
                    {% endif %}
                </div>
            </div>
        </section>

        <section>
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Threads</h2>

                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Board</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for thread in threads %}
                            <tr>
                                <td>
                                    <a href="/threads/{{ thread.id }}">{{ thread.title }}</a>
                                </td>
                                <td>
                                    <a href="/threads/{{ thread.id }}">{{ thread.content }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="/threads">More threads</a>
                    </div>
                     {% if true %}
                        <picture class="ad" >
                            <source srcset="/images/misc/ad-demo.svg" media="(min-width: 768px)">
                            <img src="/images/misc/ad-demo.svg" alt="">
                        </picture>
                    {% endif %}
                </div>
            </div>
        </section>

        <section>
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Stats</h2>
                    <table>
                        <tbody>
                            <tr>
                                <td>Total views</td>
                                <td>{{ counter or '' }}</td>
                            </tr>
                            <tr>
                                <td>Total boards</td>
                                <td>{{ boards_total or '' }}</td>
                            </tr>
                            <tr>
                                <td>Total threads</td>
                                <td>{{ threads_total or '' }}</td>
                            </tr>
                            <tr>
                                <td>Total posts</td>
                                <td>{{ posts_total or '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                     {% if true %}
                        <picture class="ad" >
                            <source srcset="/images/misc/ad-demo.svg" media="(min-width: 768px)">
                            <img src="/images/misc/ad-demo.svg" alt="">
                        </picture>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}


