{% extends '../_layout.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Create thread</h1>
            <h2>{{ board.title }}</h2>
            <h3>{{ board.description }}</h3>

            <form action="#" method="post" class="post" enctype="multipart/form-data">

                <div style="margin-bottom: 1rem;">
                    <input type="text" name="title">
                </div>

                <div style="margin-bottom: 1rem;">
                    <input type="file" name="image" accept=".png, .jpg, .jpeg, .svg" required>
                </div>

                <div style="margin-bottom: 1rem;">
                    <textarea name="content" rows="10"></textarea>
                </div>

                <div>
                    <button type="submit" class="block">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "front/includes/dialog.html" %}

{% endblock %}

{% block js %}
    <script src="/js/app.js"></script>
{% endblock %}