{% extends '../_layout.html' %}

{% block content %}

	<div class="text-center" style="margin: 1rem;">
		<h1>Boards {{ board.title }}</h1>
		<div>
		    <a href="/boards/{{ board.slug }}/{{ board['_id'] }}/create" class="button">Create thread</a>
		</div>

		
	</div>
	
	{% for thread in board.threads %}
	    <div class="card preview">
	        <div class="card-body">
	        	<h3 class="preview-title"><a href="/boards/{{ board.slug }}/{{ thread['_id'] }}">{{ thread.title }}</a></h3>
	        </div>
	    </div>
	{% endfor %}

{% endblock %}