{% extends '../_layout.html' %}

{% block content %}

	<div class="text-center" style="margin: 1rem;">
		<h1>Boards {{ board.title }}</h1>

		<div>
		    <a href="/boards/{{ board.slug }}/{{ board.id }}/create" class="button">Create thread</a>
		</div>

		
	</div>

	{% for thread in threads %}
	    <div class="card preview">
	        <div class="card-body">
	        	<h3 class="preview-title"><a href="/boards/{{ board.slug }}/{{ thread.id }}">{{ thread.title }}</a></h3>
	        </div>
	    </div>
	{% endfor %}

{% endblock %}